@model IEnumerable<Student_MVC.Models.StudentCourse>

@{
    ViewData["Title"] = "StudentCourseList";
}

<h1>StudentCourseList</h1>

<p>
    <a asp-action="CreateStudentCourse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Student Name
            </th>
            <th>
                Score
            </th>
            <th>
                Grade
            </th>
            <th>
                Status
            </th>
            <th>
                Course
            </th>
            <th>
                Trainer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainer.TrainerName)
                </td>
                <td>
                    <a asp-action="EditStudentCourse" asp-route-id="@item.StudentCourseId">Edit</a> |
                    <a asp-action="StudentCourseDetails" asp-route-id="@item.StudentCourseId">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
